<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.alliance.mapper.CourseCollectionDetailMapper">

    <select id="getById" parameterType="long" resultType="com.neu.alliance.entity.CourseCollection">
        SELECT * FROM course_collection WHERE id = #{collectionId}
    </select>

</mapper>
